################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFirstDockerApp/v16
/.vs
/SampleApp/.vs/SampleApp
/SampleApp/bin/Debug/netcoreapp3.1
/SampleApp/obj
